<VirtualHost *:80>
    ServerAdmin webmaster@localhost
    DocumentRoot "/var/www/covenant-finance/"
    ServerName covenant-finance.mesona.net
    # To get this to work, need to direct an A record matching the alias
    # to the hosted server's ip and ensure proper ports are open
    ServerAlias covenant-finances.mesona.net

    WSGIDaemonProcess myapps
    WSGIProcessGroup myapps

    WSGIScriptAlias / /var/www/covenant-finance/app.wsgi

    <Directory /var/www/covenant-finance>
        Options FollowSymLinks
        AllowOverride None
        Require all granted
    </Directory>

    ErrorLog /var/www/apache_logs/covenant-finances/error.log
    LogLevel warn
    CustomLog /var/www/apache_logs/covenant-finances/access.log combined
</VirtualHost>

<VirtualHost *:80>
    DocumentRoot "/var/www/cropful/"
    ServerName cropful.mesona.net
    ProxyPreserveHost on
    ProxyPass / http://localhost:3000/
    ProxyPassReverse / http://localhost:3000/

    <Directory /var/www/cropful>
        Options FollowSymLinks
        AllowOverride None
        Require all granted
    </Directory>
</VirtualHost>

<VirtualHost *:80>
    ServerAdmin webmaster@localhost
    DocumentRoot "/var/www/ars_python_tools/NPCCreator"
    ServerName ars_npc_creator.mesona.net
    ServerAlias ars_npc_creator
    ServerAlias www.mesona.net/ars-npc-creator
    ServerAlias ars-npc-creator.mesona.net

    <Directory /var/www/ars_python_tools/NPCCreator>
        Options FollowSymLinks
        AllowOverride None
        Require all granted
    </Directory>

    ErrorLog /var/www/apache_logs/ars_npc_creator/error.log
    LogLevel warn
    CustomLog /var/www/apache_logs/ars_npc_creator/access.log combined
</VirtualHost>

